@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.All{
    width: 100vw;
    height: 100vh;

}

body{
    overflow-x: hidden;
    background: #0e0f10;
}
p{
    display: flex;
    align-items: center;
}
header{
    
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}
header ul{
    display: flex;
    align-items: center;
    list-style: none;
    
}


.Nav-Left{
    position: relative;

    height: 50%;
    width: 20vw;
    margin-right: 20%;
}
.Nav-Left li{
    font-size: 30px;
    font-weight: 700;
    padding: 0px;
}
li{
    font-size: 1.3em;
    padding: 20px;
}
.Nav-Left li{
    position: absolute;
    left: 6vw;
    top: 2vh;
}
.Nav-Right{
    height: 50%;
    width: 60vw;
    
}
.Nav-Right a{
    position: relative;
    text-decoration: none;
    background-color: rgba(84,84,84,0.75);
    border-radius: 20px;
    font-size: 1em;
    padding: 10px;
    font-weight: 600;
    padding-right: 50px;
    padding-left: 20px;
}

.Nav-Right ul{
    display: flex;
    align-items: center;
    position: absolute;
    right: 40px;
    gap: 10px;
}

ul ion-icon{
    position: absolute;
    right: 12px;
    top: 6px;
    width: 30px;
    height: 30px;
}

span{
    color: rgb(244,207,10);
}
main{
    margin-top: 8vh;
    height: 80vh;
    width: 100vw;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.Main-Info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main h1{
    font-size: 3.6em;
    color: white;
    padding-bottom: 10px; 
}
main h4{
    font-size: 18px;
    color: #f4cf0a;
}
main input{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.03px;
    margin-top: 10px;
    border-radius: 30px;
    width: 250px;
    height: 60px;
    background-color:#5c0d78;
}
.Article-Box{
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #191b1d;
    border-radius: 10px;
}
.Article-Boxes-One{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.Article-Box ion-icon{
    color: rgb(244,207,10);
    margin-bottom: 15px;
    width: 55px;
    height: 55px;
}
.Article-Box h4{
    font-size: 24px;
}
::-webkit-scrollbar{
    width: 5px;
}